.container{
    display: flex;
    width: 400px;
    height: 400px;
    /*flex-direction: column;
    flex-direction: row;*/
    background-color: blue;
}

.container> .item{
    background-color: gray;
    width: 30px;
    height: 30px;
}

.main{
    display: flex;
}

.main{
    display: flex;
    width: 500px;
}

.item-1 { flex-basis: 100px; flex-grow: 1 }
.item-2 { flex-basis: 100px; flex-grow: 1 }
.item-3 { flex-basis: 100px; flex-grow: 1 }
.item-4 { flex-basis: 100px; flex-grow: 1 }